<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "static/styles/style.css">
</head>
<h1>{% block title %}US Coronavirus data{% endblock %}</h1>
<body>
{% block content %}
Coming soon...
{% endblock %}
</body>
</html>
